
@import url("https://rsms.me/inter/inter.css")

$primary-color: #0D3B66
$font-family: "Inter", sans-serif
$base-spacing: 1rem

body
	background-color: initial

#main
	background-color: initial
	max-width: 850px

.a-title /* page and post titles */
	text-align: center

.a-post-date
	text-align: center
