---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Not found">
	<div class="a-margin-large-top">
		<div class="a-text-muted a-text-center">Not found</div>
	</div
</BaseLayout>
