---
import { getEntry, render } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

const home = await getEntry('pages', 'home');

if (!(home && home.body)) {
	return Astro.redirect(import.meta.env.BASE_URL);
}

const blog = await getEntry('pages', 'blog');
const { Content } = await render(blog);
---

<BaseLayout>
	<div class="a-margin-large-top">
	    <Content />
	</div>
</BaseLayout>
