
@use "variables.scss" as *;

pre {
    background-color: $muted-background-color;
    padding: $spacing;
    border-radius: 0.1rem;
    scrollbar-width: thin;
    line-height: 1.25;
}

hr {
    border: none;
    border-top: 1px solid $border-color;
    margin: $spacing 0;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: $spacing-small;
    padding-left: $spacing;
    padding-right: $spacing;
    margin: 0;
    border: 1px solid $border-color;
}

img {
	display: flex;
    margin: auto;
    height: auto;
    max-width: 100%;
}

ul li:not(:last-child) {
    margin-bottom: $spacing;
}
