---
import { getCollection, getEntry } from 'astro:content';
import NavLink from './NavLink.astro'

const { features } = Astro.props;

const pages = (await getCollection('pages', ({ id, data }) => { return id !== 'home' }));
const home = await getEntry('pages', 'home');

const nav = [...pages.map(page => ({ path: page.id, title: page.data.title, navIndex: page.data.navIndex }))];

if (pages.length) {
	nav.push({path: '', title: home.data.title, navIndex: home.data.navIndex});
	nav.sort((a, b) => (a.navIndex ?? Infinity) - (b.navIndex ?? Infinity));
}
---

<nav>
	<ul class=`a-nav ${features}`>
		{nav.map(item => <li><NavLink path={item.path} title={item.title} /></li>)}
	</ul>
</nav>
