---
import config from "../../site/config.json";

const { path, title } = Astro.props;

const currentPath = Astro.url.pathname.slice(1);
---

<a href=`${config.subdomain}/${path}` class={currentPath === path ? 'fly-nav-active' : ''}>{title}</a>
