---
const { path, title, features } = Astro.props;

let currentPath = Astro.url.pathname.slice(import.meta.env.BASE_URL.length - 1);

---

<a href=`${import.meta.env.BASE_URL}/${path}` class={currentPath === '/' + path ? `a-nav-active ${features}` : features}>{title}</a>
