---
import config from "../../site/config.json";

const { path, title, features } = Astro.props;

let currentPath = Astro.url.pathname.slice(config.base.length);

---

<a href=`${config.base}/${path}` class={currentPath === '/' + path ? `a-nav-active ${features}` : features}>{title}</a>
