---
import "../style/style.scss";
import config from "../../site/config.json";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="../../site/favicon.png" />
		<title>{config.title}</title>
	</head>
	<body>
		<main class="a-container-small a-full-height a-flex a-flex-column a-flex-space-between">
			<div class="a-padding">
				<Header />
				<slot />
			</div>
			<div class="a-padding-horizontal a-width-1-1">
				<Footer />
			</div>
		</main>
	</body>
</html>
