---
import "../style/style.scss";
import favicon from '../../site/favicon.png?Url';
import config from '../../site/config.json';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;

let pageTitle = (title ? title + ' - ' : '') + config.title;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href={favicon} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<main class="a-full-height a-container-small a-flex a-flex-column a-flex-space-between" id="main">
			<div class="a-padding">
				<Header />
				<slot />
			</div>
			<Footer />
		</main>
	</body>
</html>
