---
import BaseLayout from './BaseLayout.astro';

const { title, subtitle } = Astro.props;
---

<BaseLayout title={title}>
	<div class="">
		<h1 class="a-margin-small-bottom a-title">{title}</h1>
		{subtitle && <div class="a-text-muted a-post-date">{subtitle}</div>}
	</div>
	<div class="a-margin-large-top">
		<slot />
	</div>
</BaseLayout>
